# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# IDE/editor folders
.vscode/
.idea/

# Logs and databases
*.log
instance/
*.sqlite3

# MacOS files
.DS_Store
